.wrap {
    margin: 20px auto;
    width: 1000px;
}


.countCommentsWrap {
    background-color: rgba(179, 209, 210, 0.69);
}

.newsTitle {
    text-shadow: 3px 6px 6px rgba(95, 158, 160, 0.8);
}

.urlNews {
    display: flex;
    justify-content: center;
}

.commentsInfo {
    padding: 10px 0;
}

.btnUpdateComments {
    text-align: end;
}