.wrap {
    margin: 20px auto;
    width: 1000px;
    position: relative;
}

.wrapItem {
    margin: 20px;
}

.itemInfoWrap {
    display: flex;
    flex-direction: row;
}

.newsTitle {
    padding-left: 10px;
    background-color: rgba(95, 158, 160, 0.69);
}

.itemInfo {
    margin-left: 20px;
}
