.author {
    opacity: 50%;
    padding: 6px;
}

.wrapAuthor {
    display: flex;
}

.commentWrap {
    margin: 5px;
}

.commentWrap:hover {
    background-color: rgba(202, 208, 209, 0.22);
}

.nestedComment {
    padding-left: 20px;
}